<div class="vertical-center">
    <div class="horizontal-center">
        <h1>TDT4140 <p> Software Engineering</h1>
        <table class="table front-table">
            <tbody>
            <tr>
                <td>
                    <a href="/student">
                        <button class="btn btn-lg btn-block bn-square btn-student">
                        <img class="front-button-icon" src="../../../assets/img/icons/student.svg" onerror="this.onerror=null; this.src='../../../assets/img/icons/student.png'">
                        <span style="display:block; height: 30px;"></span>
                        Student View
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/lecturer">
                            <button class="btn btn-lg btn-block bn-square btn-lecturer">
                            <img class="front-button-icon" src="../../../assets/img/icons/lecturer.svg" onerror="this.onerror=null; this.src='../../../assets/img/icons/lecturer.png'">
                            <span style="display:block; height: 30px;"></span>
                            Lecturer View
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>