<div class="container vertical-center">
    <div class="container horizontal-center">
        <h1>Kolab</h1>
        <table class="table">
            <tbody>
            <tr>
                <td><textarea id="textareaNewRoom" maxlength="140" size="80" class="form-control"
                              ng-model="newRoom.text"
                              ng-keyup="$event.keyCode == 13 ? createRoom() : null"></textarea>
                </td>
                <td>
                    <button class="btn btn-primary btn-lg btn-block btn-send" ng-click="createRoom()">Create room
                    </button>
                </td>
            </tr>
            <tr>
                <td> <textarea id="textareaJoinRoom" maxlength="140" size="80" class="form-control"
                               ng-model="joinRoom.text"
                               ng-keyup="$event.keyCode == 13 ? joinRoom() : null"></textarea></td>
                <td>
                    <button class="btn btn-primary btn-lg btn-block btn-send" ng-click="joinRoom()">Join room
                    </button>
                </td>


                <table id="myRoomsTable" class="table">
                    <h1 ng-show="myRooms.length > 0"> Your rooms</h1>
                    <tr ng-repeat="room in myRooms" class="roomRows">
                        <!--<td>{{question.number}}</td>-->
                        <td class="td-room">{{room.room}}</td>
                        <th>
                            <button class="btn btn-danger btn-lg btn-block btn-remove"
                                    ng-click="deleteRoom($index, room )">Delete
                            </button>
                        </th>
                        <th>
                            <button class="btn btn-danger btn-lg btn-block btn-remove"
                                    ng-click="joinMyRoom( room.room )">Join
                            </button>
                        </th>
                    </tr>


                </table>


                <table id="roomsTable" class="table">
                    <h1 ng-show="kolabDBScope.length <= 0"> No rooms, make one!</h1>
                    <h1 ng-show="kolabDBScope.length > 0"> Available rooms</h1>
                    <tr ng-repeat="room in kolabDBScope | filter: joinRoom.text" class="roomRows">
                        <!--<td>{{question.number}}</td>-->
                        <td class="td-room">{{room.room}}</td>
                        <td>
                            <button class="btn btn-danger btn-lg btn-block btn-remove"
                                    ng-click="joinExistingRoom( room.room )">Join
                            </button>
                        </td>
                    </tr>


                </table>
            </tr>
            </tbody>
        </table>
    </div>
</div>