.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.horizontal-center {
  width: auto;
  text-align:center;
}

th {
	font-size: 48px;
}

td {
  font-size: 38px;
}

tr {
  line-height: 25px;
  min-height: 25px;
  height: 50px;
}

.bn-square {
	height: 25vh;
	width: 25vh;
	font-size: 20px;
}

.form-control {
  width: 25vh;
  height: 12.5vh;
  font-size: 30px;
}

.btn-send {
  height: 12.5vh;
  font-size: 34px;
}

.td-question {
  font-size: 30px;
}