<div class="container vertical-center">
    <div class="container horizontal-center">
        <h1>TDT4140 <p> Software Engineering</h1>
        <a href="/">
            <button type="button" class="btn btn-responsive btn-primary">
                Home
            </button>
        </a>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <a href="/questions">
                        <button class="btn btn-responsive btn-info btn-lg btn-block bn-square" ng-click="questions()">
                        Questions
                        </button>
                    </a>
                </td>
                <td>
                    <button class="btn btn-responsive btn-info btn-lg btn-block bn-square" ng-click="cantKeepUp()">
                    I can't<p>keep up
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-responsive btn-danger btn-lg btn-block bn-square" ng-click="decreaseVolume()">
                    Decrease<p>volume
                    </button>
                </td>
                <td>
                    <button class="btn btn-responsive btn-danger btn-lg btn-block bn-square" ng-click="increaseVolume()">
                    Increase<p>volume
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-responsive btn-warning btn-lg btn-block bn-square" ng-click="decreaseSpeed()">
                    Decrease<p>speed
                    </button>
                </td>
                <td>
                    <button class="btn btn-responsive btn-warning btn-lg btn-block bn-square" ng-click="increaseSpeed()">
                    Increase<p>speed
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>