/* GENERAL LAYOUT */
/********************/
body{
    height: 100%;
    width:100%;
    max-height: 100%;
    max-width: 100%;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -10000;

    display: block;
    opacity: 0.8;
    background-image: url('/assets/img/triangle-blur.png');
    width: 100%;
    height: 100%;
    background-repeat: repeat;

}


.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.horizontal-center {
    max-width: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    color: #EEEEEE;
    text-shadow: -2px 2px black;
}


/* TABLE CSS */
/********************/

.table {
    /*table-layout: fixed;*/
    width: 100%;
    /*border: 1px solid green;*/
}

.menu-table {
    /*table-layout: fixed;*/
    width: 98%;
    margin: 10px 0px -60px 10px;
    /*border: 1px solid green;*/
}

.front-table {
    width: 92%;
    margin: 40px 0px 0px 40px;
}

.lecturer-table {
    width: 92%;
    margin: 40px 0px 0px 40px;
}

.questions-table {
    width: 92%;
    margin: 40px 0px 0px 40px;
}

.table th {
    font-size: 48px;
}

tbody{
    width: 100%;
    display:inherit;
    /*border: 1px solid yellow;*/
}


.table tr {
    min-width: inherit;
    color: white;
    padding: 0;
    line-height: 25px;
    min-height: 200px;

}

.questionRows{
    border-bottom: 1px solid black;
    /*word-break: break-all;*/
}

thead.nounhead{
    cursor:pointer !important;
}

.nounRows {
    background-color: darkgray;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    opacity: 0.4;
}

.table td {
    border: 0px !important;
    /*border: 1px solid black;*/
    font-size: 38px;
    min-height: inherit;
    height: 100%;
    /*width: 50%;*/
}

.td-question {
    font-size: 30px;
    width: 100%;
}

.td-noun{
    color: white;
    opacity: 1;
    text-shadow: -2px 2px black;
}


.title{
    /*text-align: left;
    table-layout: fixed;*/
    width: 92%;
    margin: 40px 40px 0px 40px;
    background: rgba(204,204,204,0.05);
    /*border: 1px solid black;*/
    border-radius: 0px 128px 128px 0px;
}
.title h1 {
    margin-left: 20px;
}

/*.title td {
    border: 1px solid black;
}*/


/* TEXTAREA AND FORM */
/********************/
.form-control {
    width: 100%;
    height: 100%;
    font-size: 30px;
    min-height: 150px;
}

textarea{
    resize: none;
    width: 100%;
}


/* BUTTON */
/********************/

.btn {
    border-radius: 0px;
}


.btn-send {
    height: 100%;
    width:100%;
    font-size: 34px;
    min-width: 150px;
    background: #99DDEE;
    color: #555555;
    border-radius: 0px 128px 128px 0px;
}

.btn-remove{
    height: 50%;
    width: 50%;
    font-size: 34px;
    min-height: 100px;
    min-width: 100px;
    background: #FFCCCC;
    border-radius: 50px;
    margin: 10px 0px 10px 0px; 
}


.bn-square {
    width:100%;
    height:450px;
    font-size: 28px;
    min-height: 100%;
    min-width: 100%;
    max-width: 450px;
    max-height: 450px;
    /*border: 1px solid red;*/
    border-radius: 30px;
}

.btn-question {
    background: #99EAEE;
    color: #555555;
}

.btn-cantkeepup {
    background: #99EAEE;
    color: #555555;
}

.btn-volume {
    background: #FFCCCC;
    color: #555555;
}

.btn-speed {
    background: #FFDDAA;
    color: #555555;
}

.btn-student {
    background: #99DDEE;
    color: #555555;
}

.btn-lecturer {
    background: #99DDEE;
    color: #555555;
}

.btn-home {
    float: right;
    /*width:100%;*/
    height:150px;
    min-height: 100%;
    min-width: 100%;
    max-width: 150px;
    max-height: 150px;
    /*background: #CCFFCC;*/
    background: rgba(204,255,204,0.05);
    color: #888888;
    border-radius: 128px;
}

/* IMAGES */
/********************/

.front-button-icon {
  height: 128px;
}

.menu-button-icon {
  height: 100px;
}

.lecturer-button-icon {
    height: 50px;
}

.home-button-icon {
  height: 100%;
  width: 128px;
}

/* PROGRESSBAR */
/********************/

.progress {
    width: 92%;
    height: 40px;
    margin: 10px 40px 0px 40px;
}

.progress-bar {
    font-size: 28px;
    line-height: 32px;
} 