<div class="vertical-center">
    <div class="horizontal-center">
        <table class="title">
            <tbody>
            <tr>
                <td width="90%">
                    <h1>TDT4140 <p> Software Engineering</h1>
                </td>
                <td width="10%">
                    <a href="/">
                        <button type="button" class="btn btn-lg btn-responsive btn-home">
                        <img class="home-button-icon" src="../../../assets/img/icons/chevron-right.svg" onerror="this.onerror=null; this.src='../../../assets/img/icons/chevron-right.png'">
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <span style="display:block; height: 50px;"></span>
        <table id="lecturerTable" class="table lecturer-table">
            <tbody>
            <tr ng-repeat="question in kolabDBScope" class="questionRows">
                <!--<td>{{question.number}}</td>-->
                <td width="80%" class="td-question">{{question.text}}</td>
                <td width="20%">
                    <button class="btn btn-lg btn-block btn-remove" ng-click="remove($index, question._id)">
                    <img class="lecturer-button-icon" src="../../../assets/img/icons/remove.svg" onerror="this.onerror=null; this.src='../../../assets/img/icons/remove.png'">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>