<div class="vertical-center">
    <div class="horizontal-center">
        <table class="title">
            <tbody>
            <tr>
                <td width="90%">
                    <h1>{{roomCookie}}
                        <o></o>
                        {{userCount}}
                    </h1>
                </td>
                <td width="10%">
                    <button type="button" class="btn btn-lg btn-responsive btn-home" ng-click="leaveRoom()">
                        <img class="home-button-icon" src="../../../assets/img/icons/chevron-right.svg"
                             onerror="this.onerror=null; this.src='../../../assets/img/icons/chevron-right.png'">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--
        <table>
            <tr>
                <td>
                    Cant keep up: {{cantKeepUpHits}}
                </td>
            <tr>
                <td>
                    Increase Speed: {{increaseSpeedHits}}
                </td>
            </tr>
            <tr>
                <td>
                    Decrease Speed: {{decreaseSpeedHits}}
                </td>
            </tr>
            <tr>
                <td>
                    Increase Volume: {{increaseVolumeHits}}
                </td>
            </tr>
            <tr>
                <td>
                    Decrease Volume: {{decreaseVolumeHits}}
                </td>
            </tr>
        </table>
        -->


        <table class="click-table">
            <tbody>
            <tr>
                <td class="cantKeepUpData" colspan="2">
                    <span class="cantKeepUpText">Cant Keep up</span>
                    <div class="progress">
                        <div id="cantKeepUpBar" class="progress-bar progress-bar-striped {{cantKeepUpStyle}} {{activeAnimationCKU}}" role="progressbar"
                             aria-valuenow="{{cantKeepUpPercent}}"
                             aria-valuemin="0" aria-valuemax="100" ng-style="{'width':cantKeepUpPercent+'%'}">
                            {{cantKeepUpPercent}}%

                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="progressGroup">
                    <span class="progressText">Decrease Volume</span>
                    <div class="progress">
                        <div id="decreaseVolumeBar" class="progress-bar progress-bar-striped {{decreaseVolumeStyle}} {{activeAnimationDV}} progress-barL"
                             role="progressbar" aria-valuenow="{{decreaseVolumePercent}}"
                             aria-valuemin="0" aria-valuemax="100" ng-style="{'width':decreaseVolumePercent+'%'}">
                            {{decreaseVolumePercent}}%
                        </div>
                    </div>
                </td>

                <td class="progressGroup">
                    <span class="progressText">Increase Volume</span>
                    <div class="progress">
                        <div id="increaseVolumeBar" class="progress-bar progress-bar-striped {{increaseVolumeStyle}} {{activeAnimationIV}}" role="progressbar"
                             aria-valuenow="{{increaseVolumePercent}}"
                             aria-valuemin="0" aria-valuemax="100" ng-style="{'width':increaseVolumePercent+'%'}">
                            {{increaseVolumePercent}}%
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="progressGroup">
                    <span class="progressText">Decrease Speed</span>
                    <div class="progress">
                        <div id="decreaseSpeedBar" class="progress-bar progress-bar-striped {{decreaseSpeedStyle}} {{activeAnimationDS}} progress-barl"
                             role="progressbar" aria-valuenow="{{decreaseSpeedPercent}}"
                             aria-valuemin="0" aria-valuemax="100" ng-style="{'width':decreaseSpeedPercent+'%'}">
                            {{decreaseSpeedPercent}}%
                        </div>
                    </div>
                </td>
                <td class="progressGroup">
                    <span class="progressText">Increase Speed</span>
                    <div class="progress">
                        <div id="increaseSpeedBar" class="progress-bar progress-bar-striped {{increaseSpeedStyle}} {{activeAnimationIS}}" role="progressbar"
                             aria-valuenow="{{increaseSpeedPercent}}"
                             aria-valuemin="0" aria-valuemax="100" ng-style="{'width':increaseSpeedPercent+'%'}">
                            {{increaseSpeedPercent}}%
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


        <!--
        <span style="display:block; height: 20px;"></span>






        <span style="display:block; height: 20px;"></span>
        -->
        <div style="padding-top: 80px;">
            <button type="button" class="btn btn-primary" ng-click="resetVotes()">
                Reset votes
            </button>
        </div>
        <button type="button" class="btn btn-small" ng-click="switchView()">Grouped/Ungrouped</button>


        <div ng-switch="grouped">

            <div ng-switch-when="groupedFalse">
                <table id="questionsTable" class="table questions-table">
                    <tr ng-repeat="question in kolabDBScope" class="questionRows">
                        <!--<td>{{question.number}}</td>-->
                        <td width="80%" class="td-question">{{question.text}}</td>
                        <td width="20%">
                            <button class="btn btn-lg btn-block btn-remove" ng-click="remove($index, question)">
                                <img class="lecturer-button-icon" src="../../../assets/img/icons/remove.svg"
                                     onerror="this.onerror=null; this.src='../../../assets/img/icons/remove.png'">
                            </button>
                        </td>
                    </tr>

                </table>
            </div>
            <div ng-switch-when="groupedTrue">

                <table id="questionsTableGrouped" class="table questions-table">
                    <tbody class="nounhead" ng-repeat="noun in newTags track by $index"
                           ng-init="$rowIndex = $index" ng-show="noun.length > 0">

                    <tr class="nounRows" ng-init="toggle[$rowIndex] = true"
                        ng-click="toggle[$index] = !toggle[$rowIndex]">
                        <td class="td-noun">
                            <span class="glyphicon glyphicon-plus-sign" ng-if="!toggle[$rowIndex]"></span>
                            <span class="glyphicon glyphicon-minus-sign" ng-if="toggle[$rowIndex]"></span>
                            {{noun[0].tag}}
                        </td>
                    </tr>
                    <tr ng-if="toggle[$rowIndex]" ng-repeat="question in noun track by $index" class="questionRows">

                        <!--<td>{{question.number}}</td>-->
                        <td width="80%" class="td-question">{{question.text}}</td>
                        <td width="20%">
                            <button class="btn btn-lg btn-block btn-remove"
                                    ng-click="removeGrouped($rowIndex, $index, question)">
                                <img class="lecturer-button-icon" src="../../../assets/img/icons/remove.svg"
                                     onerror="this.onerror=null; this.src='../../../assets/img/icons/remove.png'">
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>