<div class="container horizontal-center">
    <h1>TDT4140 <p> Software Engineering</h1>
    <h1>Questions</h1>

    <a href="/">
        <button type="button" class="btn btn-primary">
            Home
        </button>
    </a>
    <div class="progress">
        <div id="cantKeepUpBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width:0%">
            Cant Keep up
        </div>
    </div>
    <div class="progress">
        <div id="decreaseVolumeBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
             aria-valuemin="0" aria-valuemax="100" style="width:0%">
            Decrease Volume
        </div>
    </div>
    <div class="progress">
        <div id="increaseVolumeBar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
             aria-valuemin="0" aria-valuemax="100" style="width:0%">
            Increase Volume
        </div>
    </div>
    <div class="progress">
        <div id="increaseSpeedBar" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:0%">
            Increase Speed
        </div>
    </div>
    <div class="progress">
        <div id="decreaseSpeedBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" style="width:0%">
            Decrease Speed
        </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="resetVotes()">
        Reset votes
    </button>

    <div class="container vertical-center">
    <table id="lecturerTable" class="table">
        <tbody>
        <tr ng-repeat="question in kolabDBScope" class="questionRows">
            <!--<td>{{question.number}}</td>-->
            <td class="td-question">{{question.text}}</td>
            <td>
                <button class="btn btn-danger btn-lg btn-block btn-remove" ng-click="remove($index, question._id)">Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>