<div class="vertical-center">
    <div class="horizontal-center">
        <table class="title">
            <tbody>
            <tr>
                <td width="90%">
                    <h1>Questions</h1>
                </td>
                <td width="10%">
                    <a href="/student">
                        <button type="button" class="btn btn-lg btn-responsive btn-home">
                        <img class="home-button-icon" src="../../../assets/img/icons/chevron-right.svg" onerror="this.onerror=null; this.src='../../../assets/img/icons/chevron-right.png'">
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table questions-table">

            <tr> <!-- Push enter so send question, key code for enter is 13 -->
                <td><textarea id="textareaQ" maxlength="140" size="80" class="form-control"
                              ng-model="question.text"
                              ng-keyup="$event.keyCode == 13 ? sendQuestion() : null"></textarea></td>
                <td>
                    <button class="btn btn-lg btn-block btn-send" ng-click="sendQuestion()">Send</button>
                </td>
            </tr>
        </table>
        <table id="questionsTable" class="table questions-table">
            <tr ng-repeat="question in kolabDBScope | orderBy:'-'" class="questionRows">
                <!--<td>{{question.number}}</td>-->
                <td class="td-question">{{question.text}}</td>
            </tr>
        </table>
    </div>
</div>