<div class="container vertical-center">

    <div class="container horizontal-center">
        <h1>Questions</h1>
        <table class="table">
            <a href="/student">
                <button type="button" class="btn btn-primary">
                    Back
                </button>
            </a>
            <tbody>
            <tr>
                <td><input class="form-control" ng-model="question.text"></td>
                <td>
                    <button class="btn btn-primary btn-lg btn-block btn-send" ng-click="sendQuestion()">Send</button>
                </td>
            </tr>
            <tr ng-repeat="question in kolab">
                <!--<td>{{question.number}}</td>-->
                <td class="td-question">{{question.text}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>